{% extends "layout.html" %}
{% block content %}

<a href="{{ url_for('url') }}" class="btn btn-primary btn-sm">View {{ counts['url'] }} Urls</a>
<a href="{{ url_for('url') }}" class="btn btn-primary btn-sm">View {{ counts['header'] }} Headers</a>
<a href="{{ url_for('url') }}" class="btn btn-primary btn-sm">View {{ counts['cookie'] }} Cookies</a>
<a href="{{ url_for('url') }}" class="btn btn-primary btn-sm">View {{ counts['comment'] }} Comments</a>
<a href="{{ url_for('url') }}" class="btn btn-primary btn-sm">View {{ counts['certificate'] }} Certificates</a>

{% endblock %}
